body {
  margin: 0;
}

.header {
  z-index: 1;
  background-color: yellow;
  position: fixed;
  height: 60px;
  width: 100%;

  #logo {
    display: inline-block;
    background-color: aqua;
    height: 100%;
    width: 30%;
  }

  #navbar {
    background-color: cornflowerblue;
    height: 100%;
    width: 70%;
    float: right;
    font-size: 100%;
    ul {
      li {
        float: left;
        font-size: 20px;
        display: inline-block;
        width: 14%;
      }
    }
  }
}

.main{
  padding-top: 60px;
}