body {
  margin: 0;
}

.header {
  z-index: 2;
  background-color: yellow;
  position: fixed;
  height: 60px;
  width: 100%;

  #logo {
    display: inline-block;
    background-color: aqua;
    height: 100%;
    width: 30%;
  }

  #navbar {
    background-color: cornflowerblue;
    height: 100%;
    width: 70%;
    float: right;
    font-size: 100%;
    ul {
      li {
        float: left;
        font-size: 20px;
        display: inline-block;
        width: 14%;
      }
    }
  }
}

.main{
  .carousel{
    width: 100%;
    height: 80vh;
    background-color: lightblue;
  }

  #muprodovim{
    #header{
      text-align: center;
      font-family: "Lucida Sans Unicode";
    }
    #types{
      width: 100%;
      height: 300px;

      #types-2{
        width: 80%;
        height: 100%;
        margin-left: 10%;
        margin-right: 10%;

        .square{
          width: 25%;
          float: left;
          height: 100%;
          display: inline-block;
          opacity: 0;
        }

        #marriages{
          background-color: blue;
        }
        #office-parties{
          background-color: beige;
        }
        #birthdays{
          background-color: burlywood;
        }
        #homecoming{
          background-color: bisque}
      }
    }

    #footer{
      text-align: center;
      opacity: 0;
    }
  }

  #actors {
    width: 100%;

    #actors-2 {
      margin-left: 10%;
      width: 80%;
      max-height: 450px;

      #actors-label{
        width: 50%;
        height: 100%;
        display: inline-block;
        float: left;
        position: relative;
        #Artisti{
          text-align: center;
        }
        #textik{
          padding-right: 5%;

        }
        #details-button{
          position: absolute;
          width: 60%;
          height: 10%;
          background-color: #ff3bae;
          margin-left: 15%;
        }
      }
      #actors-photos{
        width: 50%;
        height: 100%;
        display: inline-block;

        #photochki{
          margin-left: 5%;
          width: 90%;
          height: 90%;
          max-height: 400px;
          box-shadow: 20px 20px 10px grey;

          .photochki{
            transition: 0.5s ease;
            box-shadow: 0px 0px 100px inset;
          }

          .photochki:hover{
            transition: 0.5s ease;
            box-shadow: none;
          }

          #left-photochki{
            width: 50%;
            height: 100%;
            float: left;
            display: inline-block;

            #photochka-1{
              background-image: url("../images/image2.jpg");
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              width: 100%;
              height: 50%;
            }

            #photochka-2{
              background-image: url("../images/image1.jpg");
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              width: 100%;
              height: 50%;
            }
          }

          #right-photochki{
            display: inline-block;
            width: 50%;
            height: 100%;
            background-image: url("../images/image3.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
        }
      }
    }
  }

  #special-offer{
    position: relative;
    width: 100%;
    height: 450px;

    #front-square{
      top: 10%;
      position: absolute;
      z-index: 1;
      height: 80%;
      width: 100%;

      #offer-image{
        position: relative;
        display: inline-block;
        right: 10%;
        width: 50%;
        float: left;
        height: 100%;
        background-image: url("../images/image4.jpg");
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        background-attachment: fixed;

        #image-label{
          position: absolute;
          margin-left: 50%;
          right: 0;
          bottom: 10%;
          color: white;
        }
      }
      #list-of-offers{
       display: inline-block;
        width: 50%;
        height: 100%;

        #offers-heading{
          width: 80%;
          height: 10%;
          padding-left: 20%;
        }
        #offers-list{
          width: 100%;
          height: 90%;
          background-color: yellow;
        }
      }
    }
    #back-square{
      position: absolute;
      top: 0;
      z-index: 0;
      right: 0;
      width: 70%;
      height: 100%;
      background-color: lightgoldenrodyellow;
    }
  }
}

.footer{
  width: 100%;
  height: 500px;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

